*, body {
    margin: 0;
    padding: 0;;
}

.container {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.container div {
    height: 30px;
    text-align: center;
    background: #eee;
    width: 120px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    padding: 7px 11px 0 11px;
    font-size: 15px;
    font-weight: 500;
}

.container div.current {
    box-shadow: 0 0 0 2px white,
        0 0 0 4px black;
}